.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  .hero-content {
    padding-top: 140px;

    p {
      font-size: 26px;
      margin-bottom: 0.5rem;
      @media (max-width: 768px) {
        font-size: 20px;
      }

      @media (max-width: 480px) {
        font-size: 16px;
      }
    }

    h1 {
      font-size: 90px;
      font-weight: bold;

      @media (max-width: 768px) {
        font-size: 60px;

      }
      @media (max-width: 540px) {
        font-size: 40px;
      }
      @media (max-width: 340px) {
        font-size: 30px;
      }
    }
  }

  .dashed-line {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.26);
    border-radius: 5px;
  }


  .button-content{
    padding-top: 30px;
    @media (max-width: 480px) {
      padding-top: 40px;
      padding-bottom: 10px;
    }
    .download-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      background-color: #19638e;
      color: #fff;
      padding: 10px 20px;
      border-radius: 10px;
      text-decoration: none;
      font-size: 1.2rem;
      transition: background 0.3s;
      max-width: 300px;
      width: 100%;

      &:hover {
        background-color: #2d7db1;
      }

      .bold-text {
        font-weight: bold;
        margin-top: 5px;
      }
    }
  }

  .social-icons {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 40px;
    width: 100%;
    gap: 20px;
    margin-top: 40px;
    padding-bottom: 30px;

    @media (max-width: 768px) {
      justify-content: center;
      padding-left: 0px;
      margin-top: 70px;
    }

    a {
      color: #ffffff;
      font-size: 40px;
      transition: color 0.3s,  transform 0.2s ease-in-out;

      &:hover {
        color: #2d7db1;
        transform: scale(1.12);

      }
    }
  }
}

@media (max-width: 768px) {
  .hero-content {
    h1 {
      font-size: 60px;
    }

    p {
      font-size: 20px;
    }
  }
}

@media (max-width: 480px) {
  .hero-content {
    h1 {
      font-size: 40px;
    }

    p {
      font-size: 16px;
    }
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.hero-content h1 {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid white; /* Efecto de cursor */
  width: 0;
  font-size: 90px;
  font-weight: bold;
  animation: typing 2.5s steps(20, end) forwards, blink 0.7s infinite;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-content p {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}

.hero-content p:nth-child(3) {
  animation-delay: 1s;
}

.button-content .download-btn {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 2s;
}
